In [1]:
# Use quotation marks for defining string

In [2]:
"Michael Jackson"

'Michael Jackson'

In [3]:
# Use single quotation marks for defining string

In [4]:
'Michael Jackson'

'Michael Jackson'

In [6]:
# Digitals and spaces in string
"1 2 3 4 5'

SyntaxError: EOL while scanning string literal (<ipython-input-6-f04283d2c4f6>, line 2)

In [7]:
'1 2 3 4 5'

'1 2 3 4 5'

In [8]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

In [9]:
# Print the string

print("hello!")

hello!

In [10]:
# Assign string to variable

Name = "Michael Jackson"
Name

'Michael Jackson'

In [11]:
#Indexing
print(Name[0])

M

In [12]:
print(Name[6])

l

In [14]:
#Negative Index
print(Name[-1])

n

In [15]:
print(Name[-5])

c

In [16]:
# Find the length of string

len("Michael Jackson")

15

In [17]:
# Take the slice on variable Name with only index 0 to index 3

Name[0:5]

'Micha'

In [18]:
# Take the slice on variable Name with only index 8 to index 11

Name[8:13]

'Jacks'

In [19]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

'McalJcsn'

In [20]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

'Mca'

In [21]:
Name[::-3]

'nkJec'

In [22]:
Name[-5:-1]

'ckso'

In [25]:
# Concatenate two strings

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

In [26]:
3 * Name

'Michael JacksonMichael JacksonMichael Jackson'

In [28]:
# Concatenate strings

Name = "Michael Jackson "
Name = Name + "is the best"
Name

'Michael Jackson is the best'

In [29]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [30]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

In [31]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

In [32]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

In [33]:

print(' Michael Jackson isn\'t the best' )

 Michael Jackson isn't the best

In [34]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [35]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

In [36]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

5

In [37]:
# Find the substring in the string.

Name.find('Jack')

8

In [38]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

-1

In [39]:
A = "1"
A

'1'

In [40]:
B = "2"
B

'2'

In [44]:
C =  A + B 
C

'12'

In [45]:
D = "ABCDEFG"
D [0:3]

'ABC'

In [46]:
D = "ABCDEFG"
print(D[0:3])

ABC

In [48]:
E = 'clocrkr1e1c1t'
print(E[::2])

correct

In [51]:
print("\\")

\

In [56]:
print(r" \ ")

 \

In [59]:
F = "You are wrong"
F.upper()

'YOU ARE WRONG'

In [60]:
G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"
G.find('snow')

95

In [62]:
G.replace("Mary","Bob")

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'